/*@font-face {*/
/*    src: url('font/PixelifySans-VariableFont_wght.ttf');*/
/*}*/

@font-face {
    src: url('font/InknutAntiqua-Regular.ttf');
}

@font-face {
    src: url('font/UnifrakturCook-Bold.ttf');
}

/* JavaFX base classes (will override original style)*/

.label {
    /*-fx-label-padding: 0;*/
    /*-fx-text-overrun: clip;*/
    -fx-font-family: "Inknut Antiqua", 'serif';
    /*-fx-font-family: "Pixelify Sans", 'sans-serif';*/
}



/* Global styling */

.font-header {
    -fx-font-size: 33;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-family: "UnifrakturCook", cursive;
}

.font-action {
    -fx-font-size: 29;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-family: "UnifrakturCook", cursive;
}

.font-regular {
    -fx-font-size: 25;
}

.font-small {
    -fx-font-size: 17;
}

.font-playername {
    -fx-font-size: 21;
    -fx-spacing: 0;

}

.background {
    -fx-background-image: url("img/woodplank.jpg");
}



/* Player sidebar */

.players-logo {
    -fx-background-image: url("img/players-logo.png");
}

.player-banner {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; /* Center the image vertically (90%) and horizontally */
    -fx-background-size: 90% auto;
}

.player-red {
    -fx-background-image: url("img/player-red.png");
}

.player-green {
    -fx-background-image: url("img/player-green.png");
}

.player-blue {
    -fx-background-image: url("img/player-blue.png");
}

.player-yellow {
    -fx-background-image: url("img/player-yellow.png");
}



/* Dashboard */

.dashboard {
    -fx-background-image: url("img/dashboard-bg.jpg");
    -fx-background-size: 100% auto; /* Stretch to 100% width of pane */
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom center; /* Center the image vertically (90%) and horizontally */
}

.tab-pane > .tab-header-area {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}



/* Field */

.field > .viewport {
    -fx-background-image: url("img/bgpattern.jpg");
}

.field {
    -fx-background-image: url("img/bgpattern.jpg");

    -fx-border-image-source: url("img/border-field-quad.png");
    -fx-border-image-slice: 30 30 30 30; /* or you can use percentages */
    -fx-border-image-width: 26;
    -fx-border-image-repeat: stretch;
    -fx-border-image-insets: 0;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.plantCounterImage {
    -fx-image: url("img/symbols/plant.png");
}

.animalCounterImage {
    -fx-image: url("img/symbols/animal.png");
}

.fungusCounterImage {
    -fx-image: url("img/symbols/fungus.png");
}

.insectCounterImage {
    -fx-image: url("img/symbols/insect.png");
}

.inkwellCounterImage {
    -fx-image: url("img/symbols/inkwell.png");
}

.quillCounterImage {
    -fx-image: url("img/symbols/quill.png");
}

.manuscriptCounterImage {
    -fx-image: url("img/symbols/manuscript.png");
}

.chatSendButton{
    -fx-background-image: url("img/sendMessage.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
}

.flipButton{
    -fx-background-image: url("img/refreshIcon.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
}

.homepageButton {
    -fx-font-size: 15px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-padding: 0 0 4 0;
}

.zoomInButton {
    -fx-background-image: url("img/zoom-in.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
}

.zoomOutButton {
    -fx-background-image: url("img/zoom-out.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
}

.btn-reset {
    -fx-font-size: 10px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-padding: 0 0 4 0;
}
.btn-symbol {
    -fx-font-family: Arial;
    -fx-font-size: 10px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-min-width:  26px;
    -fx-max-width:  26px;
    -fx-background-position: center;
}



/* Chat, logs & guide */

* {
    -fx-game-light-color: rgb(239, 226, 205);
    -fx-game-primary-color: rgb(213, 192, 158);
    -fx-game-hover-color: rgb(159, 130, 79);
    -fx-game-selected-color: rgb(122, 92, 51);
    -fx-game-border-color: #381e08;
}

.tab-pane {
    -fx-font-family: "Inknut Antiqua", 'serif';
    -fx-font-size: 10px;

    -fx-background-insets: 0 0 0 0;
}

.tab-pane .tab:filled {
    -fx-background-color: -fx-game-primary-color;
}

.tab-pane .tab:hover {
    -fx-background-color: -fx-game-hover-color;
}

.tab-pane .tab:selected {
    -fx-background-color: -fx-game-selected-color;

}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 10;
}
.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 20;

    /* NO SPACE LEFT OF FIRST TAB */
    /* -fx-padding: 0 0 0 30; */
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 70px;
    -fx-tab-min-height: 24px;
    -fx-tab-max-height: 24px;
    -fx-border-insets: 0 0 0 0;
}
.tab-pane .tab {
    -fx-border-color: -fx-game-border-color;
    -fx-border-style: solid;
    -fx-border-radius: 4px;

    -fx-background-color: -fx-game-primary-color;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}


/* Text-area */
text-area {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.text-area .content {
    -fx-background-color: -fx-game-light-color;

    -fx-border-color: -fx-game-border-color;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

/* Spinner */
.choice-box {
    -fx-background-color: -fx-game-light-color;
    -fx-border-color: -fx-game-border-color;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
}

/* Button */
.button {
    -fx-font-family: "Inknut Antiqua", 'serif';
    -fx-background-color: rgb(213, 192, 158);
    -fx-border-color: #381e08;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-text-fill: black;
}
.button:hover {
    -fx-background-color: rgb(159, 130, 79);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 0, 0);
}
.button:pressed {
    -fx-background-color: rgb(122, 92, 51);
    /*-fx-text-fill: white;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 0, 0);
}
